In [14]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
df = pd.read_excel('Bankruptcy.xlsx')
df

,NO,D,YR,R1,R2,R3,R4,R5,R6,R7,...,R15,R16,R17,R18,R19,R20,R21,R22,R23,R24
0,1,0,78,0.23,0.08,0.02,0.03,0.46,0.12,0.19,...,0.05,0.57,0.15,0.23,3.56,0.26,1.55,0.43,0.11,0.17
1,2,0,77,0.19,0.07,0.09,0.12,0.02,0.02,0.03,...,0.09,0.12,0.16,0.22,3.78,1.29,1.40,0.06,0.07,0.10
2,3,0,72,0.07,0.02,0.03,0.05,0.06,0.10,0.14,...,-0.03,0.02,0.02,0.04,13.29,1.61,1.43,0.03,0.05,0.07
3,4,0,80,0.07,0.03,0.04,0.04,0.04,0.06,0.06,...,-0.02,0.01,0.02,0.02,5.36,1.30,1.12,-0.06,-0.08,-0.09
4,5,0,81,0.09,0.02,0.03,0.04,0.06,0.08,0.11,...,0.02,0.07,0.10,0.14,7.74,1.48,1.41,0.03,0.04,0.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,128,1,77,0.27,0.03,0.07,0.10,0.09,0.18,0.26,...,0.11,0.06,0.12,0.17,7.56,2.07,1.45,0.06,0.13,0.19
128,129,1,77,0.32,0.03,0.03,0.09,0.05,0.06,0.16,...,0.17,0.07,0.09,0.26,5.99,1.27,2.74,0.06,0.08,0.21
129,130,1,78,0.08,0.01,0.02,0.05,0.04,0.07,0.15,...,0.19,0.07,0.12,0.26,7.14,1.89,2.10,0.07,0.12,0.26
130,131,1,78,0.14,0.01,0.05,0.07,0.02,0.09,0.14,...,0.07,0.02,0.10,0.15,170.96,4.55,1.45,0.02,0.10,0.14
131,132,1,78,0.26,0.07,0.12,0.17,0.00,0.01,0.01,...,0.05,0.04,0.07,0.10,5.44,1.84,1.40,0.05,0.08,0.12

In [9]:
y = df['D']
x = df['']

,NO,D,YR,R1,R2,R3,R4,R5,R6,R7,...,R15,R16,R17,R18,R19,R20,R21,R22,R23,R24
count,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,...,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000
mean,66.500000,0.500000,74.015152,0.291742,0.061364,0.073788,0.155833,0.041515,0.050227,0.119167,...,0.087197,0.061742,0.071818,0.209924,15.539697,1.765152,1.899167,0.046591,0.058939,0.188030
std,38.249183,0.501905,3.064161,0.517893,0.124169,0.080925,0.211862,0.165804,0.112382,0.217873,...,0.321298,0.130088,0.120709,0.545419,25.731285,1.094107,1.349523,0.175351,0.127233,0.547357
min,1.000000,0.000000,70.000000,0.000000,0.000000,0.000000,0.000000,-1.400000,-0.600000,-0.610000,...,-0.470000,-0.590000,-0.430000,-0.450000,0.760000,0.060000,0.670000,-1.490000,-0.450000,-0.440000
25%,33.750000,0.000000,72.000000,0.070000,0.020000,0.030000,0.040000,0.010000,0.010000,0.020000,...,-0.012500,0.010000,0.020000,0.027500,4.357500,1.200000,1.370000,0.010000,0.020000,0.030000
50%,66.500000,0.500000,74.000000,0.150000,0.030000,0.050000,0.080000,0.030000,0.060000,0.090000,...,0.045000,0.050000,0.080000,0.125000,6.860000,1.510000,1.530000,0.050000,0.070000,0.110000
75%,99.250000,1.000000,76.000000,0.272500,0.060000,0.090000,0.172500,0.080000,0.102500,0.210000,...,0.140000,0.110000,0.140000,0.290000,11.690000,2.105000,2.162500,0.090000,0.120000,0.242500
max,132.000000,1.000000,82.000000,4.920000,1.000000,0.640000,1.380000,0.460000,0.490000,1.160000,...,2.990000,0.570000,0.500000,5.810000,170.960000,6.750000,14.680000,0.530000,0.500000,5.810000

In [11]:
df.values

array([[1.00e+00, 0.00e+00, 7.80e+01, ..., 4.30e-01, 1.10e-01, 1.70e-01],
       [2.00e+00, 0.00e+00, 7.70e+01, ..., 6.00e-02, 7.00e-02, 1.00e-01],
       [3.00e+00, 0.00e+00, 7.20e+01, ..., 3.00e-02, 5.00e-02, 7.00e-02],
       ...,
       [1.30e+02, 1.00e+00, 7.80e+01, ..., 7.00e-02, 1.20e-01, 2.60e-01],
       [1.31e+02, 1.00e+00, 7.80e+01, ..., 2.00e-02, 1.00e-01, 1.40e-01],
       [1.32e+02, 1.00e+00, 7.80e+01, ..., 5.00e-02, 8.00e-02, 1.20e-01]])