In [8]:
import pandas as pd
df = pd.read_excel('Bankruptcy.xlsx')
df.shape

(132, 27)

In [9]:
df.describe()

,NO,D,YR,R1,R2,R3,R4,R5,R6,R7,...,R15,R16,R17,R18,R19,R20,R21,R22,R23,R24
count,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,...,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000,132.000000
mean,66.500000,0.500000,74.015152,0.291742,0.061364,0.073788,0.155833,0.041515,0.050227,0.119167,...,0.087197,0.061742,0.071818,0.209924,15.539697,1.765152,1.899167,0.046591,0.058939,0.188030
std,38.249183,0.501905,3.064161,0.517893,0.124169,0.080925,0.211862,0.165804,0.112382,0.217873,...,0.321298,0.130088,0.120709,0.545419,25.731285,1.094107,1.349523,0.175351,0.127233,0.547357
min,1.000000,0.000000,70.000000,0.000000,0.000000,0.000000,0.000000,-1.400000,-0.600000,-0.610000,...,-0.470000,-0.590000,-0.430000,-0.450000,0.760000,0.060000,0.670000,-1.490000,-0.450000,-0.440000
25%,33.750000,0.000000,72.000000,0.070000,0.020000,0.030000,0.040000,0.010000,0.010000,0.020000,...,-0.012500,0.010000,0.020000,0.027500,4.357500,1.200000,1.370000,0.010000,0.020000,0.030000
50%,66.500000,0.500000,74.000000,0.150000,0.030000,0.050000,0.080000,0.030000,0.060000,0.090000,...,0.045000,0.050000,0.080000,0.125000,6.860000,1.510000,1.530000,0.050000,0.070000,0.110000
75%,99.250000,1.000000,76.000000,0.272500,0.060000,0.090000,0.172500,0.080000,0.102500,0.210000,...,0.140000,0.110000,0.140000,0.290000,11.690000,2.105000,2.162500,0.090000,0.120000,0.242500
max,132.000000,1.000000,82.000000,4.920000,1.000000,0.640000,1.380000,0.460000,0.490000,1.160000,...,2.990000,0.570000,0.500000,5.810000,170.960000,6.750000,14.680000,0.530000,0.500000,5.810000

In [11]:
df.values

array([[1.00e+00, 0.00e+00, 7.80e+01, ..., 4.30e-01, 1.10e-01, 1.70e-01],
       [2.00e+00, 0.00e+00, 7.70e+01, ..., 6.00e-02, 7.00e-02, 1.00e-01],
       [3.00e+00, 0.00e+00, 7.20e+01, ..., 3.00e-02, 5.00e-02, 7.00e-02],
       ...,
       [1.30e+02, 1.00e+00, 7.80e+01, ..., 7.00e-02, 1.20e-01, 2.60e-01],
       [1.31e+02, 1.00e+00, 7.80e+01, ..., 2.00e-02, 1.00e-01, 1.40e-01],
       [1.32e+02, 1.00e+00, 7.80e+01, ..., 5.00e-02, 8.00e-02, 1.20e-01]])